.login-page {
  display: flex;
  overflow-x: none;
}

.login-page-left {
  height: 50rem;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100vh;
  color: var(--white-color);
  display: flex;
  align-items: center;
}
.login-page-left > * {
  padding: 6.25rem;
}
.login-page-left section h1 {
  font-size: 2.188rem;
}
.login-page-left section p {
  font-size: 1.2rem;
}
.login-page-right {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 6.25rem;
}
.login-btn {
  display: flex;
  align-items: center;
  width: 100%; 
  gap: 2rem;
}
.login-btn a{
  font-size: 1rem;
  color: var(--black-color);
  font-weight: bold;
  cursor: pointer;
}
.login-page-right section p {
  color: var(--gray-color);
  margin: 0.625rem 0;
}
.login-page-right input{
  margin-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .login-page-left > * {
    padding: 0.625rem;
  }

  .login-page-right {
    padding: 3.125rem;
  }
}

@media (max-width: 768px) {
  .login-page {
    display: flex;
    flex-direction: column;
  }
  .login-page-left {
    width: 100%;
    height: 500px;
  }
  .login-page-right {
    width: auto;
    justify-content: none;
    padding: 1.25rem 1.875rem;
  }
  .login-page-left > * {
    padding: 1.875rem;
  }
}
