/* CSS reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --gray-color: gray;
  --black-color: #000000;
  --white-color: #fff;
  --spinner: rgba(255, 255, 255, 0.2);
  --blue-color: blue;
  --red-color: red;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--black-color);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
  object-fit: cover;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}

q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: var(--black-color);
  text-decoration: none;
}

/* Utilities Class */
.pointer {
  cursor: pointer;
}
.btn {
  font-family: inherit;
}
.text-center {
  text-align: center;
}
.full-width {
  width: 100%;
}
.mt-10 {
  margin-top: 0.625rem;
}
.mb-10 {
  margin-bottom: 0.625rem;
}
.m-10 {
  margin: 0.625rem 0;
}
.mt-20 {
  margin-top: 1.25rem;
}
.ml-10 {
  margin-left: 0.625rem;
}
.inherit-font {
  font-family: inherit;
}
.align-center {
  align-items: center;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-last {
  justify-content: flex-end;
}
.gap10 {
  gap: 10px;
}
.border-bottom {
  border-bottom: 1px solid var(--white-color);
}
.pb-10 {
  padding-bottom: 0.625rem;
}
